@import './var.less';
body {
    min-width: @page-min-width;
    margin: 0;
    height: 100vh;
    font: 14px/1.5 "PingFang SC", tahoma, arial, sans-serif;
    color: @color-default;
    background: @color-page-background;
}

pre {
    font: 14px/1.5 "PingFang SC", tahoma, arial, sans-serif;
}

a {
    color: @color-blue;
    text-decoration: none;
}